@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    font-size: 20px;
    line-height: 1.5;
    background-color: rgba(43, 226, 113, 0.404);
    font-family: '"Roboto Mono", monospace;
}

img{
    width: 500px;
}